In [1]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import files
files.upload()

Saving Loanprdication.csv to Loanprdication.csv

{'Loanprdication.csv': b'Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status\r\nLP001002,Male,No,0,Graduate,No,5849,0,,360,1,Urban,Y\r\nLP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N\r\nLP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y\r\nLP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y\r\nLP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y\r\nLP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y\r\nLP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y\r\nLP001014,Male,Yes,3+,Graduate,No,3036,2504,158,360,0,Semiurban,N\r\nLP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y\r\nLP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N\r\nLP001024,Male,Yes,2,Graduate,No,3200,700,70,360,1,Urban,Y\r\nLP001027,Male,Yes,2,Graduate,,2500,1840,109,360,1,Urban,Y\r\nLP001028,Male,Yes,2,Graduate,No,3073,8106,200,360,1,Urban,Y\r\nLP001029,Male,No,0,Graduate,No,1853,2840,114,360,1,Rural,N\r\nLP001030,Male,Yes,2,Graduate,No,1299,1086,17,120,1,Urban,Y\r\nLP001032,Male,No,0,Graduate,No,4950,0,125,360,1,Urban,Y\r\nLP001034,Male,No,1,Not Graduate,No,3596,0,100,240,,Urban,Y\r\nLP001036,Female,No,0,Graduate,No,3510,0,76,360,0,Urban,N\r\nLP001038,Male,Yes,0,Not Graduate,No,4887,0,133,360,1,Rural,N\r\nLP001041,Male,Yes,0,Graduate,,2600,3500,115,,1,Urban,Y\r\nLP001043,Male,Yes,0,Not Graduate,No,7660,0,104,360,0,Urban,N\r\nLP001046,Male,Yes,1,Graduate,No,5955,5625,315,360,1,Urban,Y\r\nLP001047,Male,Yes,0,Not Graduate,No,2600,1911,116,360,0,Semiurban,N\r\nLP001050,,Yes,2,Not Graduate,No,3365,1917,112,360,0,Rural,N\r\nLP001052,Male,Yes,1,Graduate,,3717,2925,151,360,,Semiurban,N\r\nLP001066,Male,Yes,0,Graduate,Yes,9560,0,191,360,1,Semiurban,Y\r\nLP001068,Male,Yes,0,Graduate,No,2799,2253,122,360,1,Semiurban,Y\r\nLP001073,Male,Yes,2,Not Graduate,No,4226,1040,110,360,1,Urban,Y\r\nLP001086,Male,No,0,Not Graduate,No,1442,0,35,360,1,Urban,N\r\nLP001087,Female,No,2,Graduate,,3750,2083,120,360,1,Semiurban,Y\r\nLP001091,Male,Yes,1,Graduate,,4166,3369,201,360,,Urban,N\r\nLP001095,Male,No,0,Graduate,No,3167,0,74,360,1,Urban,N\r\nLP001097,Male,No,1,Graduate,Yes,4692,0,106,360,1,Rural,N\r\nLP001098,Male,Yes,0,Graduate,No,3500,1667,114,360,1,Semiurban,Y\r\nLP001100,Male,No,3+,Graduate,No,12500,3000,320,360,1,Rural,N\r\nLP001106,Male,Yes,0,Graduate,No,2275,2067,,360,1,Urban,Y\r\nLP001109,Male,Yes,0,Graduate,No,1828,1330,100,,0,Urban,N\r\nLP001112,Female,Yes,0,Graduate,No,3667,1459,144,360,1,Semiurban,Y\r\nLP001114,Male,No,0,Graduate,No,4166,7210,184,360,1,Urban,Y\r\nLP001116,Male,No,0,Not Graduate,No,3748,1668,110,360,1,Semiurban,Y\r\nLP001119,Male,No,0,Graduate,No,3600,0,80,360,1,Urban,N\r\nLP001120,Male,No,0,Graduate,No,1800,1213,47,360,1,Urban,Y\r\nLP001123,Male,Yes,0,Graduate,No,2400,0,75,360,,Urban,Y\r\nLP001131,Male,Yes,0,Graduate,No,3941,2336,134,360,1,Semiurban,Y\r\nLP001136,Male,Yes,0,Not Graduate,Yes,4695,0,96,,1,Urban,Y\r\nLP001137,Female,No,0,Graduate,No,3410,0,88,,1,Urban,Y\r\nLP001138,Male,Yes,1,Graduate,No,5649,0,44,360,1,Urban,Y\r\nLP001144,Male,Yes,0,Graduate,No,5821,0,144,360,1,Urban,Y\r\nLP001146,Female,Yes,0,Graduate,No,2645,3440,120,360,0,Urban,N\r\nLP001151,Female,No,0,Graduate,No,4000,2275,144,360,1,Semiurban,Y\r\nLP001155,Female,Yes,0,Not Graduate,No,1928,1644,100,360,1,Semiurban,Y\r\nLP001157,Female,No,0,Graduate,No,3086,0,120,360,1,Semiurban,Y\r\nLP001164,Female,No,0,Graduate,No,4230,0,112,360,1,Semiurban,N\r\nLP001179,Male,Yes,2,Graduate,No,4616,0,134,360,1,Urban,N\r\nLP001186,Female,Yes,1,Graduate,Yes,11500,0,286,360,0,Urban,N\r\nLP001194,Male,Yes,2,Graduate,No,2708,1167,97,360,1,Semiurban,Y\r\nLP001195,Male,Yes,0,Graduate,No,2132,1591,96,360,1,Semiurban,Y\r\nLP001197,Male,Yes,0,Graduate,No,3366,2200,135,360,1,Rural,N\r\nLP001198,Male,Yes,1,Graduate,No,8080,2250,180,360,1,Urban,Y\r\nLP001199,Male,Yes,2,Not Graduate,No,3357,2859,144,360,1,Urban,Y\r\nLP001205,Male,Yes,0,Graduate,No,2500,3796,120,360,1,Urban,Y\r\nLP001206,Male,Yes,3+,Graduate,No,3029,0,99,360,1,Urban,Y\r\nLP001207,Male,Yes,0,Not Graduate,Yes,2609,3449,165,180,0,Rural,N\r\nLP001213,Male,Yes,1,Graduate,No,4945,0,,360,0,Rural,N\r\nLP001222,Female,No,0,Graduate,No,4166,0,116,360,0,Semiurban,N\r\nLP001225,Male,Yes,0,Graduate,No,5726,4595,258,360,1,Semiurban,N\r\nLP001228,Male,No,0,Not Graduate,No,3200,2254,126,180,0,Urban,N\r\nLP001233,Male,Yes,1,Graduate,No,10750,0,312,360,1,Urban,Y\r\nLP001238,Male,Yes,3+,Not Graduate,Yes,7100,0,125,60,1,Urban,Y\r\nLP001241,Female,No,0,Graduate,No,4300,0,136,360,0,Semiurban,N\r\nLP001243,Male,Yes,0,Graduate,No,3208,3066,172,360,1,Urban,Y\r\nLP001245,Male,Yes,2,Not Graduate,Yes,1875,1875,97,360,1,Semiurban,Y\r\nLP001248,Male,No,0,Graduate,No,3500,0,81,300,1,Semiurban,Y\r\nLP001250,Male,Yes,3+,Not Graduate,No,4755,0,95,,0,Semiurban,N\r\nLP001253,Male,Yes,3+,Graduate,Yes,5266,1774,187,360,1,Semiurban,Y\r\nLP001255,Male,No,0,Graduate,No,3750,0,113,480,1,Urban,N\r\nLP001256,Male,No,0,Graduate,No,3750,4750,176,360,1,Urban,N\r\nLP001259,Male,Yes,1,Graduate,Yes,1000,3022,110,360,1,Urban,N\r\nLP001263,Male,Yes,3+,Graduate,No,3167,4000,180,300,0,Semiurban,N\r\nLP001264,Male,Yes,3+,Not Graduate,Yes,3333,2166,130,360,,Semiurban,Y\r\nLP001265,Female,No,0,Graduate,No,3846,0,111,360,1,Semiurban,Y\r\nLP001266,Male,Yes,1,Graduate,Yes,2395,0,,360,1,Semiurban,Y\r\nLP001267,Female,Yes,2,Graduate,No,1378,1881,167,360,1,Urban,N\r\nLP001273,Male,Yes,0,Graduate,No,6000,2250,265,360,,Semiurban,N\r\nLP001275,Male,Yes,1,Graduate,No,3988,0,50,240,1,Urban,Y\r\nLP001279,Male,No,0,Graduate,No,2366,2531,136,360,1,Semiurban,Y\r\nLP001280,Male,Yes,2,Not Graduate,No,3333,2000,99,360,,Semiurban,Y\r\nLP001282,Male,Yes,0,Graduate,No,2500,2118,104,360,1,Semiurban,Y\r\nLP001289,Male,No,0,Graduate,No,8566,0,210,360,1,Urban,Y\r\nLP001310,Male,Yes,0,Graduate,No,5695,4167,175,360,1,Semiurban,Y\r\nLP001316,Male,Yes,0,Graduate,No,2958,2900,131,360,1,Semiurban,Y\r\nLP001318,Male,Yes,2,Graduate,No,6250,5654,188,180,1,Semiurban,Y\r\nLP001319,Male,Yes,2,Not Graduate,No,3273,1820,81,360,1,Urban,Y\r\nLP001322,Male,No,0,Graduate,No,4133,0,122,360,1,Semiurban,Y\r\nLP001325,Male,No,0,Not Graduate,No,3620,0,25,120,1,Semiurban,Y\r\nLP001326,Male,No,0,Graduate,,6782,0,,360,,Urban,N\r\nLP001327,Female,Yes,0,Graduate,No,2484,2302,137,360,1,Semiurban,Y\r\nLP001333,Male,Yes,0,Graduate,No,1977,997,50,360,1,Semiurban,Y\r\nLP001334,Male,Yes,0,Not Graduate,No,4188,0,115,180,1,Semiurban,Y\r\nLP001343,Male,Yes,0,Graduate,No,1759,3541,131,360,1,Semiurban,Y\r\nLP001345,Male,Yes,2,Not Graduate,No,4288,3263,133,180,1,Urban,Y\r\nLP001349,Male,No,0,Graduate,No,4843,3806,151,360,1,Semiurban,Y\r\nLP001350,Male,Yes,,Graduate,No,13650,0,,360,1,Urban,Y\r\nLP001356,Male,Yes,0,Graduate,No,4652,3583,,360,1,Semiurban,Y\r\nLP001357,Male,,,Graduate,No,3816,754,160,360,1,Urban,Y\r\nLP001367,Male,Yes,1,Graduate,No,3052,1030,100,360,1,Urban,Y\r\nLP001369,Male,Yes,2,Graduate,No,11417,1126,225,360,1,Urban,Y\r\nLP001370,Male,No,0,Not Graduate,,7333,0,120,360,1,Rural,N\r\nLP001379,Male,Yes,2,Graduate,No,3800,3600,216,360,0,Urban,N\r\nLP001384,Male,Yes,3+,Not Graduate,No,2071,754,94,480,1,Semiurban,Y\r\nLP001385,Male,No,0,Graduate,No,5316,0,136,360,1,Urban,Y\r\nLP001387,Female,Yes,0,Graduate,,2929,2333,139,360,1,Semiurban,Y\r\nLP001391,Male,Yes,0,Not Graduate,No,3572,4114,152,,0,Rural,N\r\nLP001392,Female,No,1,Graduate,Yes,7451,0,,360,1,Semiurban,Y\r\nLP001398,Male,No,0,Graduate,,5050,0,118,360,1,Semiurban,Y\r\nLP001401,Male,Yes,1,Graduate,No,14583,0,185,180,1,Rural,Y\r\nLP001404,Female,Yes,0,Graduate,No,3167,2283,154,360,1,Semiurban,Y\r\nLP001405,Male,Yes,1,Graduate,No,2214,1398,85,360,,Urban,Y\r\nLP001421,Male,Yes,0,Graduate,No,5568,2142,175,360,1,Rural,N\r\nLP001422,Female,No,0,Graduate,No,10408,0,259,360,1,Urban,Y\r\nLP001426,Male,Yes,,Graduate,No,5667,2667,180,360,1,Rural,Y\r\nLP001430,Female,No,0,Graduate,No,4166,0,44,360,1,Semiurban,Y\r\nLP001431,Female,No,0,Graduate,No,2137,8980,137,360,0,Semiurban,Y\r\nLP001432,Male,Yes,2,Graduate,No,2957,0,81,360,1,Semiurban,Y\r\nLP001439,Male,Yes,0,Not Graduate,No,4300,2014,194,360,1,Rural,Y\r\nLP001443,Female,No,0,Graduate,No,3692,0,93,360,,Rural,Y\r\nLP001448,,Yes,3+,Graduate,No,23803,0,370,360,1,Rural,Y\r\nLP001449,Male,No,0,Graduate,No,3865,1640,,360,1,Rural,Y\r\nLP001451,Male,Yes,1,Graduate,Yes,10513,3850,160,180,0,Urban,N\r\nLP001465,Male,Yes,0,Graduate,No,6080,2569,182,360,,Rural,N\r\nLP001469,Male,No,0,Graduate,Yes,20166,0,650,480,,Urban,Y\r\nLP001473,Male,No,0,Graduate,No,2014,1929,74,360,1,Urban,Y\r\nLP001478,Male,No,0,Graduate,No,2718,0,70,360,1,Semiurban,Y\r\nLP001482,Male,Yes,0,Graduate,Yes,3459,0,25,120,1,Semiurban,Y\r\nLP001487,Male,No,0,Graduate,No,4895,0,102,360,1,Semiurban,Y\r\nLP001488,Male,Yes,3+,Graduate,No,4000,7750,290,360,1,Semiurban,N\r\nLP001489,Female,Yes,0,Graduate,No,4583,0,84,360,1,Rural,N\r\nLP001491,Male,Yes,2,Graduate,Yes,3316,3500,88,360,1,Urban,Y\r\nLP001492,Male,No,0,Graduate,No,14999,0,242,360,0,Semiurban,N\r\nLP001493,Male,Yes,2,Not Graduate,No,4200,1430,129,360,1,Rural,N\r\nLP001497,Male,Yes,2,Graduate,No,5042,2083,185,360,1,Rural,N\r\nLP001498,Male,No,0,Graduate,No,5417,0,168,360,1,Urban,Y\r\nLP001504,Male,No,0,Graduate,Yes,6950,0,175,180,1,Semiurban,Y\r\nLP001507,Male,Yes,0,Graduate,No,2698,2034,122,360,1,Semiurban,Y\r\nLP001508,Male,Yes,2,Graduate,No,11757,0,187,180,1,Urban,Y\r\nLP001514,Female,Yes,0,Graduate,No,2330,4486,100,360,1,Semiurban,Y\r\nLP001516,Female,Yes,2,Graduate,No,14866,0,70,360,1,Urban,Y\r\nLP001518,Male,Yes,1,Graduate,No,1538,1425,30,360,1,Urban,Y\r\nLP001519,Female,No,0,Graduate,No,10000,1666,225,360,1,Rural,N\r\nLP001520,Male,Yes,0,Graduate,No,4860,830,125,360,1,Semiurban,Y\r\nLP001528,Male,No,0,Graduate,No,6277,0,118,360,0,Rural,N\r\nLP001529,Male,Yes,0,Graduate,Yes,2577,3750,152,360,1,Rural,Y\r\nLP001531,Male,No,0,Graduate,No,9166,0,244,360,1,Urban,N\r\nLP001532,Male,Yes,2,Not Graduate,No,2281,0,113,360,1,Rural,N\r\nLP001535,Male,No,0,Graduate,No,3254,0,50,360,1,Urban,Y\r\nLP001536,Male,Yes,3+,Graduate,No,39999,0,600,180,0,Semiurban,Y\r\nLP001541,Male,Yes,1,Graduate,No,6000,0,160,360,,Rural,Y\r\nLP001543,Male,Yes,1,Graduate,No,9538,0,187,360,1,Urban,Y\r\nLP001546,Male,No,0,Graduate,,2980,2083,120,360,1,Rural,Y\r\nLP001552,Male,Yes,0,Graduate,No,4583,5625,255,360,1,Semiurban,Y\r\nLP001560,Male,Yes,0,Not Graduate,No,1863,1041,98,360,1,Semiurban,Y\r\nLP001562,Male,Yes,0,Graduate,No,7933,0,275,360,1,Urban,N\r\nLP001565,Male,Yes,1,Graduate,No,3089,1280,121,360,0,Semiurban,N\r\nLP001570,Male,Yes,2,Graduate,No,4167,1447,158,360,1,Rural,Y\r\nLP001572,Male,Yes,0,Graduate,No,9323,0,75,180,1,Urban,Y\r\nLP001574,Male,Yes,0,Graduate,No,3707,3166,182,,1,Rural,Y\r\nLP001577,Female,Yes,0,Graduate,No,4583,0,112,360,1,Rural,N\r\nLP001578,Male,Yes,0,Graduate,No,2439,3333,129,360,1,Rural,Y\r\nLP001579,Male,No,0,Graduate,No,2237,0,63,480,0,Semiurban,N\r\nLP001580,Male,Yes,2,Graduate,No,8000,0,200,360,1,Semiurban,Y\r\nLP001581,Male,Yes,0,Not Graduate,,1820,1769,95,360,1,Rural,Y\r\nLP001585,,Yes,3+,Graduate,No,51763,0,700,300,1,Urban,Y\r\nLP001586,Male,Yes,3+,Not Graduate,No,3522,0,81,180,1,Rural,N\r\nLP001594,Male,Yes,0,Graduate,No,5708,5625,187,360,1,Semiurban,Y\r\nLP001603,Male,Yes,0,Not Graduate,Yes,4344,736,87,360,1,Semiurban,N\r\nLP001606,Male,Yes,0,Graduate,No,3497,1964,116,360,1,Rural,Y\r\nLP001608,Male,Yes,2,Graduate,No,2045,1619,101,360,1,Rural,Y\r\nLP001610,Male,Yes,3+,Graduate,No,5516,11300,495,360,0,Semiurban,N\r\nLP001616,Male,Yes,1,Graduate,No,3750,0,116,360,1,Semiurban,Y\r\nLP001630,Male,No,0,Not Graduate,No,2333,1451,102,480,0,Urban,N\r\nLP001633,Male,Yes,1,Graduate,No,6400,7250,180,360,0,Urban,N\r\nLP001634,Male,No,0,Graduate,No,1916,5063,67,360,,Rural,N\r\nLP001636,Male,Yes,0,Graduate,No,4600,0,73,180,1,Semiurban,Y\r\nLP001637,Male,Yes,1,Graduate,No,33846,0,260,360,1,Semiurban,N\r\nLP001639,Female,Yes,0,Graduate,No,3625,0,108,360,1,Semiurban,Y\r\nLP001640,Male,Yes,0,Graduate,Yes,39147,4750,120,360,1,Semiurban,Y\r\nLP001641,Male,Yes,1,Graduate,Yes,2178,0,66,300,0,Rural,N\r\nLP001643,Male,Yes,0,Graduate,No,2383,2138,58,360,,Rural,Y\r\nLP001644,,Yes,0,Graduate,Yes,674,5296,168,360,1,Rural,Y\r\nLP001647,Male,Yes,0,Graduate,No,9328,0,188,180,1,Rural,Y\r\nLP001653,Male,No,0,Not Graduate,No,4885,0,48,360,1,Rural,Y\r\nLP001656,Male,No,0,Graduate,No,12000,0,164,360,1,Semiurban,N\r\nLP001657,Male,Yes,0,Not Graduate,No,6033,0,160,360,1,Urban,N\r\nLP001658,Male,No,0,Graduate,No,3858,0,76,360,1,Semiurban,Y\r\nLP001664,Male,No,0,Graduate,No,4191,0,120,360,1,Rural,Y\r\nLP001665,Male,Yes,1,Graduate,No,3125,2583,170,360,1,Semiurban,N\r\nLP001666,Male,No,0,Graduate,No,8333,3750,187,360,1,Rural,Y\r\nLP001669,Female,No,0,Not Graduate,No,1907,2365,120,,1,Urban,Y\r\nLP001671,Female,Yes,0,Graduate,No,3416,2816,113,360,,Semiurban,Y\r\nLP001673,Male,No,0,Graduate,Yes,11000,0,83,360,1,Urban,N\r\nLP001674,Male,Yes,1,Not Graduate,No,2600,2500,90,360,1,Semiurban,Y\r\nLP001677,Male,No,2,Graduate,No,4923,0,166,360,0,Semiurban,Y\r\nLP001682,Male,Yes,3+,Not Graduate,No,3992,0,,180,1,Urban,N\r\nLP001688,Male,Yes,1,Not Graduate,No,3500,1083,135,360,1,Urban,Y\r\nLP001691,Male,Yes,2,Not Graduate,No,3917,0,124,360,1,Semiurban,Y\r\nLP001692,Female,No,0,Not Graduate,No,4408,0,120,360,1,Semiurban,Y\r\nLP001693,Female,No,0,Graduate,No,3244,0,80,360,1,Urban,Y\r\nLP001698,Male,No,0,Not Graduate,No,3975,2531,55,360,1,Rural,Y\r\nLP001699,Male,No,0,Graduate,No,2479,0,59,360,1,Urban,Y\r\nLP001702,Male,No,0,Graduate,No,3418,0,127,360,1,Semiurban,N\r\nLP001708,Female,No,0,Graduate,No,10000,0,214,360,1,Semiurban,N\r\nLP001711,Male,Yes,3+,Graduate,No,3430,1250,128,360,0,Semiurban,N\r\nLP001713,Male,Yes,1,Graduate,Yes,7787,0,240,360,1,Urban,Y\r\nLP001715,Male,Yes,3+,Not Graduate,Yes,5703,0,130,360,1,Rural,Y\r\nLP001716,Male,Yes,0,Graduate,No,3173,3021,137,360,1,Urban,Y\r\nLP001720,Male,Yes,3+,Not Graduate,No,3850,983,100,360,1,Semiurban,Y\r\nLP001722,Male,Yes,0,Graduate,No,150,1800,135,360,1,Rural,N\r\nLP001726,Male,Yes,0,Graduate,No,3727,1775,131,360,1,Semiurban,Y\r\nLP001732,Male,Yes,2,Graduate,,5000,0,72,360,0,Semiurban,N\r\nLP001734,Female,Yes,2,Graduate,No,4283,2383,127,360,,Semiurban,Y\r\nLP001736,Male,Yes,0,Graduate,No,2221,0,60,360,0,Urban,N\r\nLP001743,Male,Yes,2,Graduate,No,4009,1717,116,360,1,Semiurban,Y\r\nLP001744,Male,No,0,Graduate,No,2971,2791,144,360,1,Semiurban,Y\r\nLP001749,Male,Yes,0,Graduate,No,7578,1010,175,,1,Semiurban,Y\r\nLP001750,Male,Yes,0,Graduate,No,6250,0,128,360,1,Semiurban,Y\r\nLP001751,Male,Yes,0,Graduate,No,3250,0,170,360,1,Rural,N\r\nLP001754,Male,Yes,,Not Graduate,Yes,4735,0,138,360,1,Urban,N\r\nLP001758,Male,Yes,2,Graduate,No,6250,1695,210,360,1,Semiurban,Y\r\nLP001760,Male,,,Graduate,No,4758,0,158,480,1,Semiurban,Y\r\nLP001761,Male,No,0,Graduate,Yes,6400,0,200,360,1,Rural,Y\r\nLP001765,Male,Yes,1,Graduate,No,2491,2054,104,360,1,Semiurban,Y\r\nLP001768,Male,Yes,0,Graduate,,3716,0,42,180,1,Rural,Y\r\nLP001770,Male,No,0,Not Graduate,No,3189,2598,120,,1,Rural,Y\r\nLP001776,Female,No,0,Graduate,No,8333,0,280,360,1,Semiurban,Y\r\nLP001778,Male,Yes,1,Graduate,No,3155,1779,140,360,1,Semiurban,Y\r\nLP001784,Male,Yes,1,Graduate,No,5500,1260,170,360,1,Rural,Y\r\nLP001786,Male,Yes,0,Graduate,,5746,0,255,360,,Urban,N\r\nLP001788,Female,No,0,Graduate,Yes,3463,0,122,360,,Urban,Y\r\nLP001790,Female,No,1,Graduate,No,3812,0,112,360,1,Rural,Y\r\nLP001792,Male,Yes,1,Graduate,No,3315,0,96,360,1,Semiurban,Y\r\nLP001798,Male,Yes,2,Graduate,No,5819,5000,120,360,1,Rural,Y\r\nLP001800,Male,Yes,1,Not Graduate,No,2510,1983,140,180,1,Urban,N\r\nLP001806,Male,No,0,Graduate,No,2965,5701,155,60,1,Urban,Y\r\nLP001807,Male,Yes,2,Graduate,Yes,6250,1300,108,360,1,Rural,Y\r\nLP001811,Male,Yes,0,Not Graduate,No,3406,4417,123,360,1,Semiurban,Y\r\nLP001813,Male,No,0,Graduate,Yes,6050,4333,120,180,1,Urban,N\r\nLP001814,Male,Yes,2,Graduate,No,9703,0,112,360,1,Urban,Y\r\nLP001819,Male,Yes,1,Not Graduate,No,6608,0,137,180,1,Urban,Y\r\nLP001824,Male,Yes,1,Graduate,No,2882,1843,123,480,1,Semiurban,Y\r\nLP001825,Male,Yes,0,Graduate,No,1809,1868,90,360,1,Urban,Y\r\nLP001835,Male,Yes,0,Not Graduate,No,1668,3890,201,360,0,Semiurban,N\r\nLP001836,Female,No,2,Graduate,No,3427,0,138,360,1,Urban,N\r\nLP001841,Male,No,0,Not Graduate,Yes,2583,2167,104,360,1,Rural,Y\r\nLP001843,Male,Yes,1,Not Graduate,No,2661,7101,279,180,1,Semiurban,Y\r\nLP001844,Male,No,0,Graduate,Yes,16250,0,192,360,0,Urban,N\r\nLP001846,Female,No,3+,Graduate,No,3083,0,255,360,1,Rural,Y\r\nLP001849,Male,No,0,Not Graduate,No,6045,0,115,360,0,Rural,N\r\nLP001854,Male,Yes,3+,Graduate,No,5250,0,94,360,1,Urban,N\r\nLP001859,Male,Yes,0,Graduate,No,14683,2100,304,360,1,Rural,N\r\nLP001864,Male,Yes,3+,Not Graduate,No,4931,0,128,360,,Semiurban,N\r\nLP001865,Male,Yes,1,Graduate,No,6083,4250,330,360,,Urban,Y\r\nLP001868,Male,No,0,Graduate,No,2060,2209,134,360,1,Semiurban,Y\r\nLP001870,Female,No,1,Graduate,No,3481,0,155,36,1,Semiurban,N\r\nLP001871,Female,No,0,Graduate,No,7200,0,120,360,1,Rural,Y\r\nLP001872,Male,No,0,Graduate,Yes,5166,0,128,360,1,Semiurban,Y\r\nLP001875,Male,No,0,Graduate,No,4095,3447,151,360,1,Rural,Y\r\nLP001877,Male,Yes,2,Graduate,No,4708,1387,150,360,1,Semiurban,Y\r\nLP001882,Male,Yes,3+,Graduate,No,4333,1811,160,360,0,Urban,Y\r\nLP001883,Female,No,0,Graduate,,3418,0,135,360,1,Rural,N\r\nLP001884,Female,No,1,Graduate,No,2876,1560,90,360,1,Urban,Y\r\nLP001888,Female,No,0,Graduate,No,3237,0,30,360,1,Urban,Y\r\nLP001891,Male,Yes,0,Graduate,No,11146,0,136,360,1,Urban,Y\r\nLP001892,Male,No,0,Graduate,No,2833,1857,126,360,1,Rural,Y\r\nLP001894,Male,Yes,0,Graduate,No,2620,2223,150,360,1,Semiurban,Y\r\nLP001896,Male,Yes,2,Graduate,No,3900,0,90,360,1,Semiurban,Y\r\nLP001900,Male,Yes,1,Graduate,No,2750,1842,115,360,1,Semiurban,Y\r\nLP001903,Male,Yes,0,Graduate,No,3993,3274,207,360,1,Semiurban,Y\r\nLP001904,Male,Yes,0,Graduate,No,3103,1300,80,360,1,Urban,Y\r\nLP001907,Male,Yes,0,Graduate,No,14583,0,436,360,1,Semiurban,Y\r\nLP001908,Female,Yes,0,Not Graduate,No,4100,0,124,360,,Rural,Y\r\nLP001910,Male,No,1,Not Graduate,Yes,4053,2426,158,360,0,Urban,N\r\nLP001914,Male,Yes,0,Graduate,No,3927,800,112,360,1,Semiurban,Y\r\nLP001915,Male,Yes,2,Graduate,No,2301,985.7999878,78,180,1,Urban,Y\r\nLP001917,Female,No,0,Graduate,No,1811,1666,54,360,1,Urban,Y\r\nLP001922,Male,Yes,0,Graduate,No,20667,0,,360,1,Rural,N\r\nLP001924,Male,No,0,Graduate,No,3158,3053,89,360,1,Rural,Y\r\nLP001925,Female,No,0,Graduate,Yes,2600,1717,99,300,1,Semiurban,N\r\nLP001926,Male,Yes,0,Graduate,No,3704,2000,120,360,1,Rural,Y\r\nLP001931,Female,No,0,Graduate,No,4124,0,115,360,1,Semiurban,Y\r\nLP001935,Male,No,0,Graduate,No,9508,0,187,360,1,Rural,Y\r\nLP001936,Male,Yes,0,Graduate,No,3075,2416,139,360,1,Rural,Y\r\nLP001938,Male,Yes,2,Graduate,No,4400,0,127,360,0,Semiurban,N\r\nLP001940,Male,Yes,2,Graduate,No,3153,1560,134,360,1,Urban,Y\r\nLP001945,Female,No,,Graduate,No,5417,0,143,480,0,Urban,N\r\nLP001947,Male,Yes,0,Graduate,No,2383,3334,172,360,1,Semiurban,Y\r\nLP001949,Male,Yes,3+,Graduate,,4416,1250,110,360,1,Urban,Y\r\nLP001953,Male,Yes,1,Graduate,No,6875,0,200,360,1,Semiurban,Y\r\nLP001954,Female,Yes,1,Graduate,No,4666,0,135,360,1,Urban,Y\r\nLP001955,Female,No,0,Graduate,No,5000,2541,151,480,1,Rural,N\r\nLP001963,Male,Yes,1,Graduate,No,2014,2925,113,360,1,Urban,N\r\nLP001964,Male,Yes,0,Not Graduate,No,1800,2934,93,360,0,Urban,N\r\nLP001972,Male,Yes,,Not Graduate,No,2875,1750,105,360,1,Semiurban,Y\r\nLP001974,Female,No,0,Graduate,No,5000,0,132,360,1,Rural,Y\r\nLP001977,Male,Yes,1,Graduate,No,1625,1803,96,360,1,Urban,Y\r\nLP001978,Male,No,0,Graduate,No,4000,2500,140,360,1,Rural,Y\r\nLP001990,Male,No,0,Not Graduate,No,2000,0,,360,1,Urban,N\r\nLP001993,Female,No,0,Graduate,No,3762,1666,135,360,1,Rural,Y\r\nLP001994,Female,No,0,Graduate,No,2400,1863,104,360,0,Urban,N\r\nLP001996,Male,No,0,Graduate,No,20233,0,480,360,1,Rural,N\r\nLP001998,Male,Yes,2,Not Graduate,No,7667,0,185,360,,Rural,Y\r\nLP002002,Female,No,0,Graduate,No,2917,0,84,360,1,Semiurban,Y\r\nLP002004,Male,No,0,Not Graduate,N

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Loanprediction').getOrCreate()

**Load DataSet**

In [4]:
df = spark.read.csv('Loanprdication.csv', header=True, sep=',', inferSchema=True)

In [5]:
df.show(5)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 5 rows

In [6]:
df.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: double (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)

In [7]:
df.dtypes

[('Loan_ID', 'string'),
 ('Gender', 'string'),
 ('Married', 'string'),
 ('Dependents', 'string'),
 ('Education', 'string'),
 ('Self_Employed', 'string'),
 ('ApplicantIncome', 'int'),
 ('CoapplicantIncome', 'double'),
 ('LoanAmount', 'int'),
 ('Loan_Amount_Term', 'int'),
 ('Credit_History', 'int'),
 ('Property_Area', 'string'),
 ('Loan_Status', 'string')]

**Data** **Analysis**

In [8]:
# display count based on loan status

df.groupBy('Loan_Status').count().show()

+-----------+-----+
|Loan_Status|count|
+-----------+-----+
|          Y|  422|
|          N|  192|
+-----------+-----+

In [9]:
df.select("Credit_History" ).distinct().show()

+--------------+
|Credit_History|
+--------------+
|             1|
|             0|
|          NULL|
+--------------+

In [10]:
df.select("Credit_History", "Loan_Status" ).groupBy('Loan_Status').agg(F.avg('Credit_History')).show()

+-----------+-------------------+
|Loan_Status|avg(Credit_History)|
+-----------+-------------------+
|          Y| 0.9818181818181818|
|          N| 0.5418994413407822|
+-----------+-------------------+

In [11]:
df.select('Gender', 'Loan_status').groupBy('Loan_status', 'Gender').count().show()

+-----------+------+-----+
|Loan_status|Gender|count|
+-----------+------+-----+
|          N|Female|   37|
|          Y|  NULL|    8|
|          Y|Female|   75|
|          N|  NULL|    5|
|          Y|  Male|  339|
|          N|  Male|  150|
+-----------+------+-----+

In [12]:
#correlation matrix
colums = ('ApplicantIncome','CoapplicantIncome', 'Loan_Amount_Term', 'LoanAmount', 'Credit_History')
corr_df = pd.DataFrame()
for i in colums:
  for j in colums:
    corr_df.loc[i,j] = df.corr(i,j)
corr_df

,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,LoanAmount,Credit_History
ApplicantIncome,1.000000,-0.116605,-0.015645,0.538290,0.006986
CoapplicantIncome,-0.116605,1.000000,-0.050321,0.190377,-0.058795
Loan_Amount_Term,-0.015645,-0.050321,1.000000,0.058519,0.050145
LoanAmount,0.538290,0.190377,0.058519,1.000000,-0.032711
Credit_History,0.006986,-0.058795,0.050145,-0.032711,1.000000

In [13]:
columns = ('ApplicantIncome','CoapplicantIncome', 'Loan_Amount_Term', 'LoanAmount', 'Credit_History')
corr_df = pd.DataFrame()
for i in columns:
  corr= []
  for j in colums:
    corr.append(round(df.stat.corr(i,j), 2))
  corr_df = pd.concat([corr_df, pd.Series(corr)], axis=1)
corr_df.columns = columns
corr_df.index = columns
corr_df.insert(0, '', columns)
corr_df.set_index('')

,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,LoanAmount,Credit_History
,,,,,
ApplicantIncome,1.00,-0.12,-0.02,0.54,0.01
CoapplicantIncome,-0.12,1.00,-0.05,0.19,-0.06
Loan_Amount_Term,-0.02,-0.05,1.00,0.06,0.05
LoanAmount,0.54,0.19,0.06,1.00,-0.03
Credit_History,0.01,-0.06,0.05,-0.03,1.00

In [91]:
# convert spark dataframe to pandas
pandas_df = df.toPandas()
pandas_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,TotalIncome
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146,360,1,Urban,1,5849.0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,0,6091.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,1,3000.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,1,4941.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,1,6000.0

# **SQL** **Operation**

In [14]:
import pyspark.sql as sparksql

In [15]:
df.createOrReplaceTempView('table')

In [16]:
#display top rows from the table
spark.sql("select * from table limit 5").show()

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+

In [17]:
spark.sql('select Loan_ID from table where credit_History=1').show()

+--------+
| Loan_ID|
+--------+
|LP001002|
|LP001003|
|LP001005|
|LP001006|
|LP001008|
|LP001011|
|LP001013|
|LP001018|
|LP001020|
|LP001024|
|LP001027|
|LP001028|
|LP001029|
|LP001030|
|LP001032|
|LP001038|
|LP001041|
|LP001046|
|LP001066|
|LP001068|
+--------+
only showing top 20 rows

**# Data Cleaning**

In [18]:
from pyspark.sql import functions as F

# Count null values in each column
df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+-------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|      0|    13|      3|        15|        0|           32|              0|                0|        22|              14|            50|            0|          0|
+-------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+

In [19]:
# get mean value of column
mean = df.select(F.mean(df['LoanAmount'])).collect()[0] [0]
mean

146.41216216216216

In [20]:
df = df.na.fill(mean, ['LoanAmount'])

In [21]:
df.dtypes

[('Loan_ID', 'string'),
 ('Gender', 'string'),
 ('Married', 'string'),
 ('Dependents', 'string'),
 ('Education', 'string'),
 ('Self_Employed', 'string'),
 ('ApplicantIncome', 'int'),
 ('CoapplicantIncome', 'double'),
 ('LoanAmount', 'int'),
 ('Loan_Amount_Term', 'int'),
 ('Credit_History', 'int'),
 ('Property_Area', 'string'),
 ('Loan_Status', 'string')]

In [22]:
# get made value of column
df.groupBy('Gender').count(). orderBy("count", ascending=False). first()[0]

'Male'

In [23]:
# fill the null values fot all the columns
numerical_cols = ['LoanAmount', 'Loan_Amount_Term']
categorical_cols = ['Gender', 'Married', 'Dependents', 'Credit_History', 'Self_Employed']

In [24]:
for col in numerical_cols:
  mean = df.select(F.mean(df[col])).collect()[0][0]
  df = df.na.fill(mean, [col])

In [25]:
for col in categorical_cols:
  mode = df.groupBy('Gender').count(). orderBy("count", ascending=False). first()[0]
  df = df.na.fill(mode, [col])

In [26]:
# Count null values in each column
df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+-------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|      0|     0|      0|         0|        0|            0|              0|                0|         0|               0|            50|            0|          0|
+-------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+

In [27]:
# create new feature column
df = df.withColumn('TotalIncome', F.col('ApplicantIncome') + F.col('CoapplicantIncome'))
df.show(4)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|TotalIncome|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|       146|             360|             1|        Urban|          Y|     5849.0|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|     6091.0|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|     3000.0|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y|     4941.0|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+
only showing top 4 rows

In [28]:
from pyspark.sql import functions as F

# Replace 'Y' with 1 and 'N' with 0 in the 'Loan_Status' column
df = df.withColumn('Loan_Status', F.when(F.col('Loan_Status') == 'Y', 1).otherwise(0))

# Show the updated DataFrame
df.show(5, truncate=False)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+
|Loan_ID |Gender|Married|Dependents|Education   |Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|TotalIncome|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+
|LP001002|Male  |No     |0         |Graduate    |No           |5849           |0.0              |146       |360             |1             |Urban        |1          |5849.0     |
|LP001003|Male  |Yes    |1         |Graduate    |No           |4583           |1508.0           |128       |360             |1             |Rural        |0          |6091.0     |
|LP001005|Male  |Yes    |0         |Graduate    |Yes          |3000           |0.0              |66        |360             |1             |Urban        |1          |3000.0     |
|LP001006|Male  |Yes    |0         |Not Graduate|No           |2583           |2358.0           |120       |360             |1             |Urban        |1          |4941.0     |
|LP001008|Male  |No     |0         |Graduate    |No           |6000           |0.0              |141       |360             |1             |Urban        |1          |6000.0     |
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+
only showing top 5 rows

 #**Feature Engineering Step**

In [53]:
from pyspark.ml import functions as F
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

In [54]:
df.printSchema()

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = false)
 |-- Married: string (nullable = false)
 |-- Dependents: string (nullable = false)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = false)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: double (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: integer (nullable = false)
 |-- TotalIncome: double (nullable = true)

In [55]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline

In [56]:
categorical_columns= ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']
numerical_columns = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'TotalIncome']

In [57]:
df= df.dropna()

In [58]:
#index the string columns
indexers = [StringIndexer(inputCol=col, outputCol="{0}_index".format(col)) for col in categorical_columns]

In [59]:
from pyspark.ml.feature import OneHotEncoder

encoders = [
    OneHotEncoder(
        dropLast=False,
        inputCol=indexer.getOutputCol(),
        outputCol="{0}_encoded".format(indexer.getOutputCol())
    )
    for indexer in indexers
]

In [60]:
input_columns = [encoder.getOutputCol() for encoder in encoders] + numerical_columns

In [61]:
input_columns

['Gender_index_encoded',
 'Married_index_encoded',
 'Dependents_index_encoded',
 'Education_index_encoded',
 'Self_Employed_index_encoded',
 'Property_Area_index_encoded',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'TotalIncome']

In [62]:
# vector the encoded values
assembler = VectorAssembler(inputCols=input_columns, outputCol="feature", handleInvalid="skip")

In [63]:
#create a pipeline to transform the data
pipeline = Pipeline(stages = indexers + encoders + [assembler])

In [64]:
data_model = pipeline.fit(df)

In [66]:
transformed_df = data_model.transform(df)

In [67]:
transformed_df.show(1)

+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+------------------------+-----------------------+---------------------------+---------------------------+--------------------+
| Loan_ID|Gender|Married|Dependents|Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|TotalIncome|Gender_index|Married_index|Dependents_index|Education_index|Self_Employed_index|Property_Area_index|Gender_index_encoded|Married_index_encoded|Dependents_index_encoded|Education_index_encoded|Self_Employed_index_encoded|Property_Area_index_encoded|             feature|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+------------------------+-----------------------+---------------------------+---------------------------+--------------------+
|LP001002|  Male|     No|         0| Graduate|           No|           5849|              0.0|       146|             360|             1|        Urban|          1|     5849.0|         0.0|          1.0|             0.0|            0.0|                0.0|                1.0|       (2,[0],[1.0])|        (3,[1],[1.0])|           (5,[0],[1.0])|          (2,[0],[1.0])|              (3,[0],[1.0])|              (3,[1],[1.0])|(24,[0,3,5,10,12,...|
+--------+------+-------+----------+---------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-----------+------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+------------------------+-----------------------+---------------------------+---------------------------+--------------------+
only showing top 1 row

In [70]:
# get input features and output columns
transformed_df = transformed_df.select('feature', 'Loan_Status')
transformed_df.show(10)

+--------------------+-----------+
|             feature|Loan_Status|
+--------------------+-----------+
|(24,[0,3,5,10,12,...|          1|
|(24,[0,2,7,10,12,...|          0|
|(24,[0,2,5,10,13,...|          1|
|(24,[0,2,5,11,12,...|          1|
|(24,[0,3,5,10,12,...|          1|
|(24,[0,2,6,10,13,...|          1|
|(24,[0,2,5,11,12,...|          1|
|(24,[0,2,8,10,12,...|          0|
|(24,[0,2,6,10,12,...|          1|
|(24,[0,2,7,10,12,...|          0|
+--------------------+-----------+
only showing top 10 rows

In [71]:
transformed_df.select('Loan_Status').show(10)

+-----------+
|Loan_Status|
+-----------+
|          1|
|          0|
|          1|
|          1|
|          1|
|          1|
|          1|
|          0|
|          1|
|          0|
+-----------+
only showing top 10 rows

In [72]:
#split the data for data train and test
train_data, test_data = transformed_df.randomSplit([0.8, 0.2], seed=42)

In [73]:
# Check the schema and first 5 rows of train_data
train_data.printSchema()
train_data.show(5)

root
 |-- feature: vector (nullable = true)
 |-- Loan_Status: integer (nullable = false)

+--------------------+-----------+
|             feature|Loan_Status|
+--------------------+-----------+
|(24,[0,2,5,10,12,...|          1|
|(24,[0,2,5,10,12,...|          1|
|(24,[0,2,5,10,12,...|          0|
|(24,[0,2,5,10,12,...|          1|
|(24,[0,2,5,10,12,...|          1|
+--------------------+-----------+
only showing top 5 rows

# Model training and **testing**
**bold text**

In [75]:
from pyspark.ml.classification import LogisticRegression, RandomForestClassifier, GBTClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [76]:
lr = LogisticRegression(featuresCol='feature', labelCol='Loan_Status')
lr_model = lr.fit(train_data)

In [78]:
# predict on test data
predictions = lr_model.transform(test_data)
predictions.show(5)

+--------------------+-----------+--------------------+--------------------+----------+
|             feature|Loan_Status|       rawPrediction|         probability|prediction|
+--------------------+-----------+--------------------+--------------------+----------+
|(24,[0,2,5,10,12,...|          1|[-2.1846898559126...|[0.10113379480388...|       1.0|
|(24,[0,2,5,10,12,...|          1|[-2.2518690057277...|[0.09518837018877...|       1.0|
|(24,[0,2,5,10,12,...|          1|[-2.1397712159779...|[0.10529094011977...|       1.0|
|(24,[0,2,5,10,12,...|          1|[-2.1946068975708...|[0.10023583798354...|       1.0|
|(24,[0,2,5,10,12,...|          1|[-2.3207487209725...|[0.08941907725310...|       1.0|
+--------------------+-----------+--------------------+--------------------+----------+
only showing top 5 rows

In [82]:
predictions = lr_model.transform(test_data)
auc = BinaryClassificationEvaluator(labelCol='Loan_Status').evaluate(predictions)
print("AUC:", auc)

AUC: 0.8194444444444444

In [83]:
rf = RandomForestClassifier(featuresCol='feature', labelCol='Loan_Status')
rf_model = rf.fit(train_data)

In [84]:
predictions = rf_model.transform(test_data)
auc = BinaryClassificationEvaluator(labelCol='Loan_Status').evaluate(predictions)
print("AUC:", auc)

AUC: 0.8009259259259259

In [85]:
auc

0.8009259259259259

In [89]:
auc_percentage = auc * 100
print(auc_percentage)

80.0925925925926